old2.ahluengineers.com, www.old2.ahluengineers.com {
	encode gzip
	root * /root/website/ahluPortfolio/build
	try_files {path} /index.html
	file_server
}

ahluengineers.com, www.ahluengineers.com {
	encode gzip
	root * /root/website/ahluportfolio-v2/build
	try_files {path} /index.html
	file_server
}

